/* Убедимся, что html и body занимают всю высоту */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Основной контент страницы должен занимать всё доступное пространство */
main {
    flex: 1; /* Растягивает main, чтобы занять всё оставшееся пространство */
}

/* Стили для футера */
footer {
    border-top: 1px solid #ddd;
    background-color: #f8f9fa;
    text-align: center;
    padding: 1rem 0;
}
.custom-footer {
    background-color: #534E4E; /* Цвет фона футера */
}

.custom-footer-bottom {
    background-color: #3E3A3A; /* Немного темнее для нижней части */
}
