
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Пиццерия LunaVerde</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <main>
        <section class="hero">
            <h2>Добро пожаловать в нашу пиццерию!</h2>
            <p>Попробуйте лучшие пиццы и закуски в нашем меню!</p>
            <a href="/Menu" class="btn-primary">Посмотреть меню</a>
        </section>
    </main>
</body>
</html>
